<tr>
  <td align="">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td style="padding-bottom: 20px;" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td align="" class="mp0x5" style="padding: 0 30px;">
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td style="padding-left: 11px; padding-right: 11px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td width="45.6667%">
                                    <table border="0" cellpadding="0" cellspacing="0" class="chameleon-line" style="border-radius: 8px; background-color: #fff" width="100%">
                                      <tbody>
                                        <tr>
                                          <td class="card-inner">
                                            <%= block1 %>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td width="4%"> </td>
                                  <td width="45.6667%">
                                    <table border="0" cellpadding="0" cellspacing="0" class="chameleon-line" style="border-radius: 8px; background-color: #fff" width="100%">
                                      <tbody>
                                        <tr>
                                          <td class="card-inner" style="vertical-align: top; padding: 19px 20px 13px;">
                                            <%= block2 %>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
